---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Badge from "../components/Badge.astro";
import "@fontsource/poppins/100.css";
import "@fontsource/poppins/200.css";
import "@fontsource/poppins/300.css";
import "@fontsource/poppins/400.css";
import "@fontsource/poppins/500.css";
import "@fontsource/poppins/600.css";
import "@fontsource/poppins/700.css";
import "@fontsource/poppins/800.css";
import "@fontsource/poppins/900.css";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Experience from "../components/Experience.astro";
---

<Layout
  description="Contrata a Harold para tu próximo proyecto de desarrollo web. Harold es un desarrollador web con siete años de experiencia en la creación de sitios web interactivos y funcionales."
  title="Portafolio de Harold - Desarrollador y Programador web con siete años de experiencia "
>
  <main class="px-4">
    <Hero />
    <Experience />
    <!-- Soy un apasionado desarrollador web con experiencia en la creación de
        sitios web interactivos y funcionales. Mi objetivo es combinar mis
        habilidades técnicas con mi creatividad para construir experiencias
        digitales excepcionales.
        Mi trayectoria incluye trabajar en el sector bancario durante 8 años, donde
    adquirí conocimientos en sistemas financieros, seguridad de datos y procesos
    de negocio. -->
  </main>
</Layout>
