---
import ExperienceItem from "./ExperienceItem.astro";
import SectionContainer from "./SectionContainer.astro";
import Bagicon from "./icons/Bag.astro";

const EXPERIENCE = [
  {
    date: "Actualmente...",
    title: "Desarrollador Full Stack",
    description:
      "Me dedico al desarrollo de software para la gestión, control y seguimiento empresarial, así como a la creación de páginas web y aplicaciones multiplataforma. Ofrezco servicios integrales que incluyen desde la implementación hasta la capacitación, asegurando el máximo rendimiento y satisfacción del cliente en cada proyecto.",
    link: "https://www.tecnocondor.dev",
  },
  {
    date: "Enero 2017",
    title: "Asistente operativo de Sucursal",
    description:
      "Encargado del seguimiento, supervisión y control de las operaciones en las agencias de la sucursal La Paz Oruro, incluyendo la gestión de procesos operativos, el manejo de la bóveda y las cajas, así como la atención en el Punto de Reclamo. Además, responsable de la contratación y capacitación del personal operativo, que incluye asistentes operativos y cajeros, garantizando el cumplimiento de los procedimientos operativos establecidos",
  },
  {
    date: "Diciembre 2013",
    title: "Supervisor Aministrativo Operativo",
    description:
      "Encargado de la gestión, control y supervisión del área de cajas, plataforma y atención al cliente, así como del manejo de disponibilidades de efectivo y activos de la Agencia. Responsable del Punto de Reclamo y de coordinar con áreas clave como Contabilidad, Marketing, Auditoría, Remesas y Recursos Humanos para asegurar una operación eficiente y alineada con los objetivos del Banco.",
  },
];
---

<SectionContainer id="experiencia">
  <h2 class="flex gap-x-2 items-center text-2xl font-semibold mb-6">
    <Bagicon class="size-6" />
    Experiencia Laboral
  </h2>
  <ol class="relative border-s border-gray-200 ml-3">
    {
      EXPERIENCE.map((experience) => (
        <li class="mb-10 ms-4">
          <ExperienceItem {...experience} />
        </li>
      ))
    }
  </ol>
</SectionContainer>
