<header class="flex justify-center py-3 w-[1120px] mx-auto">
  <nav class="flex flex-row gap-x-10 font-semibold opacity-85">
    <a href="/">Inicio</a>
    <a href="/about">Acerca de mí</a>
    <a href="/projects">Projectos</a>
    <a href="contact">Contacto</a>
  </nav>
</header>
