---
import Badge from "./Badge.astro";
import SectionContainer from "./SectionContainer.astro";
import SocialPills from "./SocialPills.astro";
import Githubicon from "./icons/Github.astro";
import Linkedinicon from "./icons/Linkedin.astro";
import Mailicon from "./icons/Mail.astro";
---

<SectionContainer class="py-44 pb-26">
  <img
    class="rounded-full w-12 h-12 mb-4"
    src="../photos/corbata.png"
    alt="Harold photo"
  />
  <h1
    class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-4 lg:pb-10"
  >
    Hola, soy Harold <a
      href="https://www.linkedin.com/in/harold-navia/"
      target="_blank"
      rel="noopener"
      class="flex justify-center items-center"
    >
      <Badge>Disponible para trabajar</Badge>
    </a>
  </h1>
  <h2 class="text-sm lg:text-lg text-wrap max-w-[700px]">
    +7 años de experiencia como <span class="text-[#FFAB00] font-medium"
      >desarrollador web fullstack</span
    >, mi objetivo es combinar mis habilidades técnicas con mi creatividad para
    construir <span class="text-[#FFAB00] font-medium"
      >experiencias digitales excepcionales.</span
    >
  </h2>
  <nav class="flex gap-4 pt-2 flex-wrap">
    <SocialPills href="https://www.linkedin.com/in/harold-navia/">
      <Linkedinicon class="size-6" /> LindekIn
    </SocialPills>
    <SocialPills href="https://github.com/nobodyzzx">
      <Githubicon class="size-6" /> Github
    </SocialPills>
    <SocialPills href="mailto:harold.navia@tecnocondor.dev">
      <Mailicon class="size-6" /> Correo
    </SocialPills>
  </nav>
</SectionContainer>
